RewriteEngine On
Options +FollowSymLinks

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\. [NC]
#RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
#RewriteRule ^ https://%1%{REQUEST_URI} [L,NE,R=301]

RewriteRule ^index.php$ cms/twig.php?twig_file_name=index [L]

RewriteRule ^img/(.*)$ cms/image.php?id=$1 

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}.php !-f
RewriteRule ^(.*)/(.*)$ cms/twig.php?twig_file_name=$1 [QSA]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME}.php !-f
RewriteRule ^(.*)$ cms/twig.php?twig_file_name=$1 [QSA,L]
#RewriteRule ^post/(.*)$ post.php?search=$1 [QSA]
#RewriteRule ^post$ post.php?search= [QSA]


#RewriteRule ^image/(.*)$ cms/image.php?id=$1 [QSA,L]
#RewriteRule ^image$ image.php?id=44 [QSA,L]

#RewriteRule ^(.*)/(.*)$ cms/twig.php?twig_file_name=$1 [QSA]
#RewriteRule ^post$ post.php?search= [QSA]

#remove php extension
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

#RedirectMatch 301 ^/?$ cms/twig.php?twig_file_name=index