.MarginLeftRight4em{
  margin-right: 4em !important;
  margin-left: 4em !important;
}
.Margin-1em{
  margin: 1em !important;
}

.border-radius50Perc{
  border-radius: 50%;
}

.Rounded-border{
  border-radius: 10px;
}
