{% extends "base.twig" %}
{% block description %}SUZI je nacionalno nevladino tehničko udruženje koje se bavi istrazivanjem uzroka i posledica zemljotresa{% endblock %}

{% block content %}
    {% set Home =  fetch('Home') %}
    <div class="oNama">
        <div class="oNama--1">
            <div class="oNama--1--text">
            {{Home.Onama | raw}}
            </div>
        </div>
        <div class="oNama--2">
            <div class="oNama--2--blok">
                <div class="oNama--2--blok-naslov">Organi SUZI</div>
                <a href="img/{{Home.OrganiSUZI}}" target="_blank" class="oNama--2--blok-pdf">Pogledaj PDF <img style="margin-left: 10px;" src="images/pdf.svg"></a>
            </div>
            <div class="oNama--2--blok">
                <div class="oNama--2--blok-naslov">Program SUZI 29. Oktobar 2018.</div>
                <a href="img/{{Home.ProgramSUZI}}" target="_blank" class="oNama--2--blok-pdf">Pogledaj PDF <img style="margin-left: 10px;" src="images/pdf.svg"></a>
            </div>
            <div class="oNama--2--blok">
                <div class="oNama--2--blok-naslov">Statut SUZI 25. Maj 2018.</div>
                <a href="img/{{Home.StatutSUZI}}" target="_blank" class="oNama--2--blok-pdf">Pogledaj PDF <img style="margin-left: 10px;" src="images/pdf.svg"></a>
            </div>
        </div>
    </div>

{% endblock %}