.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-height: 100%;
  max-width: 100%;
}
.slika-small {
  max-height: 330px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .slika-small {
    height: 300px;
  }
  .plain-text {
    font-size: 11px;
  }
  .plain-text-red {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .slika-small {
    height: 200px;
  }
}
.clanovi {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 175px 90px 4% 90px;
}
.clanovi--left {
  width: 30%;
}
.clanovi--left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.clanovi--right {
  width: 70%;
  border-left: 1px solid #d0d0d0;
  padding-left: 5%;
}
.clanovi--opis p {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
}
.clanovi--opis ol {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  margin-left: 15px;
}
.clanovi--opis ol li {
  margin-bottom: 20px;
}
.clanovi--pridruzi {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 21%;
}
.clanovi--pridruzi-button {
  height: 40px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f92525;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
}
.clanovi--spisak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.clanovi--spisak-tip {
  width: 20%;
}
.clanovi--spisak-tip--naslov {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px 0px;
  margin-bottom: 30px;
  font-size: 18px;
  border-bottom: 1px solid #d0d0d0;
}
.clanovi--spisak-tip--red {
  font-size: 18px;
  padding: 15px 0px;
}
.clanovi--spisak-tip--red:first-child {
  padding-top: 5px;
}
.clanovi--spisak-tip--red a {
  font-size: inherit;
}
.clanovi--spisak-telo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.clanovi--spisak-telo--header {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d0d0d0;
}
.clanovi--spisak-telo--header-naslov {
  width: 50%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clanovi--spisak-telo--header-naslov-deo {
  width: 50%;
  font-size: 18px;
}
.clanovi--spisak-telo--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
}
.clanovi--spisak-telo--red-naslov {
  width: 50%;
  height: 120px;
}
.clanovi--spisak-telo--red-osoba {
  width: 50%;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.flex {
  display: flex;
  width: 50%;
}
@media only screen and (max-width: 1366px) {
  .clanovi--pridruzi {
    margin-top: 19%;
  }
}
@media only screen and (max-width: 1024px) {
  .clanovi {
    flex-direction: column;
    padding: 175px 60px 4% 60px;
  }
  .clanovi--left {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
  }
  .clanovi--pridruzi {
    margin-top: 5%;
  }
  .clanovi--right {
    padding-top: 0;
    padding-left: 0;
    border-left: none;
    width: 100%;
  }
  .clanovi--opis {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 960px) {
  .clanovi {
    padding: 175px 50px 4% 50px;
  }
  .clanovi--left {
    width: 100%;
    margin-bottom: 0px;
  }
  .clanovi--right {
    width: 100%;
    border-left: none;
    padding-left: 0px;
  }
  .clanovi--pridruzi {
    margin-top: 5%;
  }
  .clanovi--spisak {
    flex-direction: column;
  }
  .clanovi--spisak-tip {
    width: 100%;
  }
  .clanovi--spisak-tip--red {
    font-size: 14px;
  }
  .clanovi--spisak-tip--red:first-child {
    padding-top: 15px;
  }
  .clanovi--spisak-tip--naslov {
    margin-bottom: 20px;
  }
  .clanovi--spisak-tip .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .clanovi--spisak-telo {
    width: 100%;
  }
  .clanovi--spisak-telo--header {
    border-top: 1px solid #d0d0d0;
    margin-top: 20px;
  }
  .clanovi--spisak-telo--header-naslov-deo {
    width: 50%;
    margin-right: 10px;
  }
  .clanovi--spisak-telo--red-osoba {
    font-size: 14px;
    width: 50%;
    margin-right: 10px;
  }
  .flex {
    width: 50%;
  }
  .bold {
    font-weight: bold;
  }
}
@media only screen and (max-width: 680px) {
  .clanovi--right {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .clanovi--left {
    margin-bottom: 0px;
  }
  .clanovi--right {
    width: 100%;
    padding-left: 0px;
    border-left: none;
  }
  .clanovi--spisak-telo--header {
    flex-wrap: wrap;
  }
  .clanovi--spisak-telo--header-naslov {
    width: 100%;
    height: 50px;
  }
  .clanovi--spisak-telo--header-naslov-deo {
    width: auto;
  }
  .clanovi--spisak-telo--red {
    flex-wrap: wrap;
  }
  .clanovi--spisak-telo--red-osoba {
    width: auto;
  }
  .clanovi--spisak-tip--red {
    width: 100%;
    padding: 10px 0px;
  }
  .clanovi--spisak-tip--red:first-child {
    padding-top: 10px;
  }
  .flex {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .clanovi {
    padding: 110px 20px 4% 20px;
  }
  .clanovi--spisak-telo--red {
    flex-direction: column;
  }
  .clanovi--spisak-telo--red-osoba {
    font-size: 13px;
  }
  .clanovi--spisak-telo--header {
    flex-direction: column;
    min-height: 60px;
  }
  .clanovi--spisak-telo--header-naslov {
    height: 30px;
  }
  .clanovi--spisak-tip .mobile {
    justify-content: flex-start;
  }
  .clanovi--spisak-tip--red {
    width: 90px;
  }
}
