.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  width: 95%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-height: 250px;
  max-width: 250px;
}
.slika-small {
  max-height: 330px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .slika-small {
    max-height: 300px;
  }
  .plain-text {
    font-size: 11px;
  }
  .plain-text-red {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .slika {
    max-height: 200px;
  }
  .slika-small {
    max-height: 200px;
  }
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 175px 90px 4% 90px;
}
.home--part {
  max-height: 550px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}
.home--part-istaknuta-akcija {
  width: 66%;
  padding-bottom: 20px;
}
.home--part-istaknuta-akcija .title {
  font-size: 14px;
  font-weight: bold;
  color: #202124;
  line-height: 1.71;
  padding: 20px 0;
}
.home--part-istaknuta-akcija .text {
  font-size: 13px;
  line-height: 1.71;
  color: #000000;
  height: 90px;
  overflow: auto;
}
.home--part-2 {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 20px;
}
.home--part-2 .suzi-akcije {
  font-size: 24px;
  color: #f92525;
  margin-bottom: 10px;
}
.home--part-2 .overflow {
  overflow: auto;
  height: 100%;
}
.home--part-2 .overflow-border {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}
.home--part-2 .naslov {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
  margin-right: 10px;
}
.home--part2 {
  max-height: 550px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}
.home--part2:last-child {
  border-bottom: none;
}
.home--part2--vesti {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 0 30px;
}
.home--part2--vesti--title {
  width: 100%;
  padding-bottom: 20px;
}
.home--part2--vesti--naslovi {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.home--part2--vesti--naslovi-1 {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}
.more {
  font-size: 14px;
  line-height: 1.71;
  font-weight: bold;
  color: #f92525;
  padding: 20px 0;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 1150px) {
  .home--part {
    max-height: 580px;
  }
}
@media screen and (max-width: 1024px) {
  .home {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .home {
    padding: 175px 50px 4% 50px;
  }
  .home--part {
    max-height: 5000px;
    flex-direction: column;
  }
  .home--part-istaknuta-akcija {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 0;
  }
  .home--part-istaknuta-akcija .title {
    font-size: 14px;
  }
  .home--part-istaknuta-akcija .text {
    height: 115px;
    font-size: 11px;
  }
  .home--part-istaknuta-akcija .more {
    font-size: 12px;
  }
  .home--part-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .home--part-2 .more {
    font-size: 12px;
  }
  .home--part2 {
    max-height: 10000px;
    flex-direction: column;
    border-bottom: none;
  }
  .home--part2--vesti {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
  .home--part2--vesti--naslovi {
    width: 100%;
  }
  .home--part2--vesti--title {
    border-bottom: none;
  }
  .home--part2--vesti .more {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .home {
    padding: 110px 20px 4% 20px;
  }
}
