.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-height: 100%;
  max-width: 100%;
}
.slika-small {
  max-height: 330px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .slika-small {
    height: 300px;
  }
  .plain-text {
    font-size: 11px;
  }
  .plain-text-red {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .slika-small {
    height: 200px;
  }
}
.oNama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 175px 90px 4% 90px;
}
.oNama--1 {
  border-bottom: 1px solid #d0d0d0;
}
.oNama--1--text {
  width: 80%;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 1.85;
  padding-bottom: 4%;
}
.oNama--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 0 0;
}
.oNama--2--blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  width: 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.oNama--2--blok-naslov {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  width: 50%;
}
.oNama--2--blok-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  width: 20%;
}
@media only screen and (max-width: 1024px) {
  .oNama {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .oNama {
    padding: 175px 50px 4% 50px;
  }
  .oNama--1--text {
    width: 100%;
  }
  .oNama--2--blok {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .oNama--1--text {
    font-size: 12px;
  }
  .oNama--2--blok {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .oNama--2--blok-naslov {
    width: 100%;
    padding-bottom: 15px;
  }
  .oNama--2--blok-pdf {
    padding-right: 10px;
    width: 100px;
  }
}
@media only screen and (max-width: 360px) {
  .oNama {
    padding: 110px 20px 4% 20px;
  }
}
