.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  width: 95%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-height: 300px;
  max-width: 250px;
}
.slika-small {
  max-height: 330px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .slika-small {
    max-height: 300px;
  }
  .plain-text {
    font-size: 11px;
  }
  .plain-text-red {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .slika {
    max-height: 200px;
  }
  .slika-small {
    max-height: 200px;
  }
}
.preuzmi-publikaciju {
  font-size: 11px;
  font-weight: bold;
  color: #f92525;
}
.publikacije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 175px 90px 4% 90px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.publikacije--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.publikacije--top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.publikacije--bottom {
  width: 70%;
  border-left: 1px solid #d0d0d0;
  padding-left: 5%;
}
.red {
  color: #f92525;
  font-weight: bold;
}
.active-glasnik {
  display: flex!important;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}
.suzi-publikacije--clanak {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
}
.suzi-publikacije--clanak-link {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
}
.suzi-publikacije--clanak--glasnik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.suzi-publikacije--clanak--glasnik-deo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.suzi-publikacije--clanak--glasnik-deo1 {
  margin-right: 2%;
  text-align: center;
  max-width: 100%;
}
.suzi-publikacije--clanak--glasnik-deo1 img {
  max-width: 250px;
  max-height: 300px;
}
.suzi-publikacije--clanak--glasnik-deo2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.suzi-publikacije--clanak--glasnik-deo2--naslov {
  font-size: 14px;
  color: #f92525;
  font-weight: bold;
  margin-bottom: 4%;
}
.suzi-publikacije--clanak--glasnik-deo2--text {
  font-size: 13px;
  color: #000000;
  line-height: 1.83;
  font-weight: normal;
}
.broj-glasnika {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #202124;
  padding: 20px 0;
  border-bottom: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.broj-glasnika--pdf {
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}
.broj-glasnika--pdf img {
  margin-left: 5px;
}
.broj-glasnika--e-glasnik {
  display: none;
}
.publikacije--mobile {
  display: none;
}
.active-glasnik-mob {
  display: none;
}
@media screen and (max-width: 1024px) {
  .publikacije {
    padding: 175px 60px 4% 60px;
  }
}
@media screen and (max-width: 960px) {
  .publikacije {
    display: none;
  }
  .publikacije--mobile {
    padding: 175px 50px 4% 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  .publikacije--top-title {
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    color: #f92525;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .publikacije--top-title:first-child {
    margin-top: 20px;
  }
  .suzi-publikacije--clanak {
    width: 100%;
    padding: 20px 0 10px;
  }
  .suzi-publikacije--clanak-link {
    font-size: 14px;
  }
  .suzi-publikacije--clanak--glasnik {
    flex-direction: column;
  }
  .suzi-publikacije--clanak--glasnik-deo {
    width: 100%;
  }
  .suzi-publikacije--clanak--glasnik-deo1 {
    width: 100%;
  }
  .suzi-publikacije--clanak--glasnik-deo2 {
    width: 100%;
  }
  .broj-glasnika--broj {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .broj-glasnika--pdf {
    width: 90px;
    margin-left: 10px;
  }
  .glasnik-text {
    display: none;
  }
  .active-glasnik-mob {
    display: block!important;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
}
@media screen and (max-width: 360px) {
  .publikacije--mobile {
    padding: 110px 20px 4% 20px;
  }
  .broj-glasnika {
    flex-wrap: wrap;
    height: 90px;
    justify-content: flex-start;
  }
  .broj-glasnika--broj {
    flex: none;
    width: 100%;
  }
  .suzi-publikacije--clanak--glasnik-deo1 img {
    max-height: 200px;
  }
}
