* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1600px;
  margin: auto;
}
p {
  -webkit-margin-before: 0px;
  margin-block-start: 0px;
  -webkit-margin-after: 0px;
  margin-block-end: 0px;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  margin-inline-end: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: 0.5;
}
img {
  border-style: none;
}
@font-face {
  font-family: Raleway;
  font-weight: bold;
  src: url('fonts/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: 500;
  src: url('fonts/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: 300;
  src: url('fonts/Raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: normal;
  src: url('fonts/Raleway/Raleway-Regular.ttf');
}
.head-responsive {
  position: fixed;
  background-color: #ffffff;
  left: 0;
  right: 0;
  min-height: 45px;
  max-width: 1420px;
  margin: auto;
  height: auto;
  border-bottom: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0 90px 0;
  top: 0;
  transition: top 1s ease 0s;
}
.head-responsive-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.head-responsive-bar-pre:hover {
  cursor: pointer;
}
.head-responsive-bar-nav {
  display: none;
}
.head-responsive-bar-nav:hover {
  cursor: pointer;
}
.head-responsive-bar--meni-d {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-left: 1%;
}
.head-responsive-bar--meni-d-title {
  height: 100%;
  width: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.head-responsive--pretraga {
  display: none;
}
.head-responsive--icon {
  display: none;
}
.logo-size {
  height: 70px;
}
.active {
  color: #f92525;
  border-bottom: 3px solid #f92525;
}
.active-m {
  color: #f92525 !important;
}
.active-list a {
  color: #f92525;
}
.footer {
  height: 45px;
  width: 100%;
  background-color: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
}
.footer--1--suzi {
  width: 25%;
  border-right: 1px solid #ffffff;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.footer--icons {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer--icons img {
  padding-left: 10px;
  padding-right: 10px;
}
.footer-mob {
  display: none;
}
.active-meni {
  display: flex!important;
  flex-direction: column;
}
.active-pretraga {
  display: flex!important;
  padding: 15px 0;
  margin-top: 2px;
  border-top: 1px solid #d0d0d0;
}
.head-transition {
  max-height: 300px;
}
.tt-input {
  width: 100%;
  height: 20px;
  margin: auto;
  position: relative;
  vertical-align: top;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #202124 !important;
  animation: line-animation 0.3s ease-in-out;
}
.tt-input:focus {
  outline: none;
}
@keyframes line-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.twitter-typeahead {
  z-index: 9999;
  width: 80%;
  margin: auto;
}
.tt-open {
  background-color: white;
  -webkit-box-shadow: 2px 3px 5px 3px #d0d0d0;
  -moz-box-shadow: 2px 3px 5px 3px #d0d0d0;
  box-shadow: 2px 3px 5px 3px #d0d0d0;
  width: 100%;
}
.tt-suggestion {
  color: black;
}
.tt-selectable {
  color: black;
  width: 90%;
  font-size: 13px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5%;
  padding-right: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.tt-selectable:hover {
  background-color: #f2f2f2;
}
.tt-cursor {
  background-color: #d0d0d0;
}
.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  width: 95%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-height: 250px;
  max-width: 250px;
}
.slika-small {
  max-height: 330px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .slika-small {
    max-height: 300px;
  }
  .plain-text {
    font-size: 11px;
  }
  .plain-text-red {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .slika {
    max-height: 200px;
  }
  .slika-small {
    max-height: 200px;
  }
}
.visina {
  height: 370px;
  width: 450px;
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 175px 90px 4% 90px;
}
.home--part {
  max-height: 400px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}
.home--part-istaknuta-akcija {
  display: flex;
  width: 66%;
  padding-bottom: 20px;
}
.home--part-istaknuta-akcija-textovi {
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.home--part-istaknuta-akcija .title {
  font-size: 20px;
  font-weight: bold;
  color: #202124;
  line-height: 1.41;
  padding-bottom: 20px;
  flex: 1;
}
.home--part-istaknuta-akcija .text {
  font-size: 13px;
  line-height: 1.71;
  color: #000000;
  height: 90px;
  overflow: hidden;
}
.home--part-2 {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 20px;
}
.home--part-2 .suzi-akcije {
  font-size: 24px;
  color: #f92525;
  margin-bottom: 10px;
}
.home--part-2 .overflow {
  overflow: auto;
  height: 100%;
}
.home--part-2 .overflow-border {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}
.home--part-2 .overflow-border-slika {
  width: 70px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
.home--part-2 .overflow-border-text {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.home--part-2 .naslov {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.home--part2 {
  max-height: 550px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
}
.home--part2:last-child {
  border-bottom: none;
}
.home--part2--vesti {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px 0 30px;
}
.home--part2--vesti--title {
  width: 100%;
  padding-bottom: 20px;
}
.home--part2--vesti--naslovi {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.home--part2--vesti--naslovi-1 {
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}
.more {
  font-size: 14px;
  line-height: 1.71;
  font-weight: bold;
  color: #f92525;
  padding-top: 20px;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 1150px) {
  .home--part {
    max-height: 580px;
  }
  .home--part-istaknuta-akcija .title {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .home {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .home {
    padding: 175px 50px 4% 50px;
  }
  .home--part {
    max-height: 5000px;
    flex-direction: column;
  }
  .home--part-istaknuta-akcija {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 0;
  }
  .home--part-istaknuta-akcija .title {
    font-size: 20px;
  }
  .home--part-istaknuta-akcija .text {
    height: 110px;
    font-size: 11px;
  }
  .home--part-istaknuta-akcija .more {
    font-size: 12px;
  }
  .home--part-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .home--part-2 .more {
    font-size: 12px;
  }
  .home--part2 {
    max-height: 10000px;
    flex-direction: column;
    border-bottom: none;
  }
  .home--part2--vesti {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
  .home--part2--vesti--naslovi {
    width: 100%;
  }
  .home--part2--vesti--title {
    border-bottom: none;
  }
  .home--part2--vesti .more {
    font-size: 12px;
  }
  .more {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 730px) {
  .home--part-istaknuta-akcija {
    flex-direction: column;
    align-items: center;
  }
  .home--part-istaknuta-akcija-textovi {
    height: auto;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 420px) {
  .visina {
    height: 270px!important;
    width: 320px!important;
  }
}
@media only screen and (max-width: 360px) {
  .home {
    padding: 110px 20px 4% 20px;
  }
}
.oNama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 175px 90px 4% 90px;
}
.oNama--1 {
  border-bottom: 1px solid #d0d0d0;
}
.oNama--1--text {
  width: 80%;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  line-height: 1.85;
  padding-bottom: 4%;
}
.oNama--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4% 0 0;
}
.oNama--2--blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  width: 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.oNama--2--blok-naslov {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  width: 50%;
}
.oNama--2--blok-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  width: 20%;
}
@media only screen and (max-width: 1024px) {
  .oNama {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .oNama {
    padding: 175px 50px 4% 50px;
  }
  .oNama--1--text {
    width: 100%;
  }
  .oNama--2--blok {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .oNama--1--text {
    font-size: 12px;
  }
  .oNama--2--blok {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .oNama--2--blok-naslov {
    width: 100%;
    padding-bottom: 15px;
  }
  .oNama--2--blok-pdf {
    padding-right: 10px;
    width: 100px;
  }
}
@media only screen and (max-width: 360px) {
  .oNama {
    padding: 110px 20px 4% 20px;
  }
}
.akcije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 175px 90px 4% 90px;
}
.akcije--left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}
.akcije--left--suzi {
  width: 80%;
  padding: 25px 0;
}
.akcije--left--naslov {
  width: 90%;
  padding: 20px 0 5px;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}
.akcije--left--naslov:last-child {
  border-bottom: none;
}
.akcije--right {
  width: 70%;
  padding-left: 5%;
  border-left: 1px solid #d0d0d0;
}
.akcije--right--slika {
  max-height: 450px;
  max-width: 350px;
  margin-bottom: 20px;
  width: auto;
  float: left;
}
.akcije--right--naslov {
  color: #f92525;
}
.akcije--right--text {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.69;
  color: #000000;
}
.akcije--right--text * {
  font-size: inherit !important;
}
.akcije--mobile {
  display: none;
}
.clicked {
  color: #f92525 !important;
}
@media only screen and (max-width: 1024px) {
  .akcije {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .akcije {
    padding: 175px 50px 4% 50px;
  }
  .akcije--left {
    width: 100%;
  }
  .akcije--left--naslov {
    width: 100%;
  }
  .akcije--right {
    display: none;
  }
  .akcije--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
  .akcije--mobile--slika {
    margin: auto;
  }
  .akcije--mobile--slika--img {
    max-height: 350px;
    max-width: 250px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .akcije--mobile--text {
    margin-top: 3%;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.69;
    color: #000000;
  }
  .akcije--mobile--text * {
    font-size: inherit !important;
  }
}
@media only screen and (max-width: 360px) {
  .akcije {
    padding: 110px 20px 4% 20px;
  }
}
.vesti {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 175px 90px 4% 90px;
}
.vesti--suzi {
  width: 30%;
}
.vesti--suzi-naslov {
  width: 100%;
  height: 35px;
}
.vesti--suzi-vest {
  width: 100%;
  padding: 20px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--suzi-vest--link {
  width: 100%;
}
.vesti--svet {
  width: 30%;
}
.vesti--svet-naslov {
  width: 100%;
  height: 35px;
}
.vesti--svet-vest {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 0px 3px 0px;
}
.vesti--svet-vest--naslov {
  width: 100%;
}
.vesti--svet-vest--datum {
  padding: 6px 0px;
}
.vesti--prikazi {
  width: 30%;
}
.vesti--prikazi-naslov {
  width: 100%;
  height: 35px;
}
.vesti--prikazi-vest {
  padding: 25px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--prikazi-vest--naslov {
  width: 100%;
}
.vesti--prikazi-vest--datum {
  padding: 6px 0px;
}
.vest {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 175px 90px 4% 90px;
}
.vest--title {
  width: 65%;
  height: 35px;
}
.vest--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 2%;
}
.vest--container-title {
  width: 100%;
}
.vest--container-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding: 2% 2% 2% 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vest--container-imgs img {
  max-height: 400px;
  max-width: 100%;
}
.vest--container-text {
  width: 100%;
  padding: 2% 0px;
}
.vest--container-text p {
  margin-top: 22px;
}
.vest--container-text p a {
  text-decoration-line: underline;
  color: #202124;
}
@media only screen and (max-width: 1024px) {
  .vesti {
    padding: 175px 60px 4% 60px;
  }
  .vest {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .vesti {
    padding: 175px 50px 4% 50px;
    flex-direction: column;
  }
  .vesti--suzi {
    width: 100%;
  }
  .vesti--suzi-naslov {
    border-bottom: none;
    padding-top: 20px;
  }
  .vesti--suzi-vest {
    padding: 20px 0 20px 0;
  }
  .vesti--suzi-vest:last-child {
    border-bottom: none;
  }
  .vesti--svet,
  .vesti--prikazi {
    width: 100%;
  }
  .vesti--svet-naslov,
  .vesti--prikazi-naslov {
    border-bottom: none;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;
  }
  .vesti--svet-vest,
  .vesti--prikazi-vest {
    padding: 20px 0 20px 0;
  }
  .vesti--svet-vest:last-child,
  .vesti--prikazi-vest:last-child {
    border-bottom: none;
  }
  .vest {
    padding: 175px 50px 4% 50px;
  }
  .vest--title {
    width: 100%;
  }
  .vest--container {
    width: 100%;
  }
  .vest--container-title {
    font-size: 14px;
  }
  .vest--container-imgs {
    margin: auto;
    float: none;
  }
  .vest--container-text {
    font-size: 11px;
  }
}
@media only screen and (max-width: 360px) {
  .vesti {
    padding: 110px 20px 4% 20px;
  }
  .vest {
    padding: 110px 20px 4% 20px;
  }
  .vest--container-imgs {
    height: 250px;
  }
}
.komisije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 175px 90px 4% 90px;
}
.komisije--left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}
.komisije--left--naslov {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.komisije--right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5%;
  border-left: 1px solid #d0d0d0;
}
.komisije--right--naziv {
  font-size: 18px;
  font-weight: bold;
  color: #f92525;
  padding-bottom: 5%;
}
.komisije--right--deo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 4%;
}
.komisije--right--deo-title {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  padding-bottom: 2%;
}
.komisije--right--deo-text {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.83;
  color: #000000;
}
.komisije--right--deo-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clicked {
  color: #f92525 !important;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .komisije {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .komisije {
    padding: 175px 50px 4% 50px;
    flex-direction: column;
  }
  .komisije--left {
    width: 100%;
    padding-bottom: 5px;
  }
  .komisije--left--naslov {
    padding: 15px 0;
  }
  .komisije--right {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    border-left: none;
    border-top: 1px solid #d0d0d0;
  }
  .komisije--right--deo-title {
    font-size: 14px;
  }
  .komisije--right--deo-text {
    font-size: 11px;
  }
}
@media only screen and (max-width: 360px) {
  .komisije {
    padding: 110px 20px 4% 20px;
  }
}
.clanovi {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 175px 90px 4% 90px;
}
.clanovi--left {
  width: 30%;
}
.clanovi--left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.clanovi--right {
  width: 70%;
  border-left: 1px solid #d0d0d0;
  padding-left: 5%;
}
.clanovi--opis p {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 20px;
}
.clanovi--opis ol {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  margin-left: 15px;
}
.clanovi--opis ol li {
  margin-bottom: 20px;
}
.clanovi--pridruzi {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 21%;
}
.clanovi--pridruzi-button {
  height: 40px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f92525;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
}
.clanovi--spisak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.clanovi--spisak-tip {
  width: 20%;
}
.clanovi--spisak-tip--naslov {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px 0px;
  margin-bottom: 30px;
  font-size: 18px;
  border-bottom: 1px solid #d0d0d0;
}
.clanovi--spisak-tip--red {
  font-size: 18px;
  padding: 15px 0px;
}
.clanovi--spisak-tip--red:first-child {
  padding-top: 5px;
}
.clanovi--spisak-tip--red a {
  font-size: inherit;
}
.clanovi--spisak-telo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.clanovi--spisak-telo--header {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d0d0d0;
}
.clanovi--spisak-telo--header-naslov {
  width: 50%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clanovi--spisak-telo--header-naslov-deo {
  width: 50%;
  font-size: 18px;
}
.clanovi--spisak-telo--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
}
.clanovi--spisak-telo--red-naslov {
  width: 50%;
  height: 120px;
}
.clanovi--spisak-telo--red-osoba {
  width: 50%;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.flex {
  display: flex;
  width: 50%;
}
@media only screen and (max-width: 1366px) {
  .clanovi--pridruzi {
    margin-top: 19%;
  }
}
@media only screen and (max-width: 1024px) {
  .clanovi {
    flex-direction: column;
    padding: 175px 60px 4% 60px;
  }
  .clanovi--left {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
  }
  .clanovi--pridruzi {
    margin-top: 5%;
  }
  .clanovi--right {
    padding-top: 0;
    padding-left: 0;
    border-left: none;
    width: 100%;
  }
  .clanovi--opis {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 960px) {
  .clanovi {
    padding: 175px 50px 4% 50px;
  }
  .clanovi--left {
    width: 100%;
    margin-bottom: 0px;
  }
  .clanovi--right {
    width: 100%;
    border-left: none;
    padding-left: 0px;
  }
  .clanovi--pridruzi {
    margin-top: 5%;
  }
  .clanovi--spisak {
    flex-direction: column;
  }
  .clanovi--spisak-tip {
    width: 100%;
  }
  .clanovi--spisak-tip--red {
    font-size: 14px;
  }
  .clanovi--spisak-tip--red:first-child {
    padding-top: 15px;
  }
  .clanovi--spisak-tip--naslov {
    margin-bottom: 20px;
  }
  .clanovi--spisak-tip .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .clanovi--spisak-telo {
    width: 100%;
  }
  .clanovi--spisak-telo--header {
    border-top: 1px solid #d0d0d0;
    margin-top: 20px;
  }
  .clanovi--spisak-telo--header-naslov-deo {
    width: 50%;
    margin-right: 10px;
  }
  .clanovi--spisak-telo--red-osoba {
    font-size: 14px;
    width: 50%;
    margin-right: 10px;
  }
  .flex {
    width: 50%;
  }
  .bold {
    font-weight: bold;
  }
}
@media only screen and (max-width: 680px) {
  .clanovi--right {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .clanovi--left {
    margin-bottom: 0px;
  }
  .clanovi--right {
    width: 100%;
    padding-left: 0px;
    border-left: none;
  }
  .clanovi--spisak-telo--header {
    flex-wrap: wrap;
  }
  .clanovi--spisak-telo--header-naslov {
    width: 100%;
    height: 50px;
  }
  .clanovi--spisak-telo--header-naslov-deo {
    width: auto;
  }
  .clanovi--spisak-telo--red {
    flex-wrap: wrap;
  }
  .clanovi--spisak-telo--red-osoba {
    width: auto;
  }
  .clanovi--spisak-tip--red {
    width: 100%;
    padding: 10px 0px;
  }
  .clanovi--spisak-tip--red:first-child {
    padding-top: 10px;
  }
  .flex {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .clanovi {
    padding: 110px 20px 4% 20px;
  }
  .clanovi--spisak-telo--red {
    flex-direction: column;
  }
  .clanovi--spisak-telo--red-osoba {
    font-size: 13px;
  }
  .clanovi--spisak-telo--header {
    flex-direction: column;
    min-height: 60px;
  }
  .clanovi--spisak-telo--header-naslov {
    height: 30px;
  }
  .clanovi--spisak-tip .mobile {
    justify-content: flex-start;
  }
  .clanovi--spisak-tip--red {
    width: 90px;
  }
}
.preuzmi-publikaciju {
  font-size: 11px;
  font-weight: bold;
  color: #f92525;
}
.publikacije {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 175px 90px 4% 90px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.publikacije--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.publikacije--top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  padding: 10px 0;
}
.publikacije--bottom {
  width: 70%;
  border-left: 1px solid #d0d0d0;
  padding-left: 5%;
}
.red {
  color: #f92525;
  font-weight: bold;
}
.active-glasnik {
  display: flex!important;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}
.suzi-publikacije--clanak {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
}
.suzi-publikacije--clanak-link {
  font-size: 18px;
  font-weight: bold;
  color: #202124;
}
.suzi-publikacije--clanak--glasnik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.suzi-publikacije--clanak--glasnik-deo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.suzi-publikacije--clanak--glasnik-deo1 {
  margin-right: 2%;
  text-align: center;
  max-width: 100%;
}
.suzi-publikacije--clanak--glasnik-deo1 img {
  max-width: 250px;
  max-height: 300px;
}
.suzi-publikacije--clanak--glasnik-deo2 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.suzi-publikacije--clanak--glasnik-deo2--naslov {
  font-size: 14px;
  color: #f92525;
  font-weight: bold;
  margin-bottom: 4%;
}
.suzi-publikacije--clanak--glasnik-deo2--text {
  font-size: 13px;
  color: #000000;
  line-height: 1.83;
  font-weight: normal;
}
.broj-glasnika {
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #202124;
  padding: 20px 0;
  border-bottom: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.broj-glasnika--pdf {
  font-size: 9px;
  font-weight: bold;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}
.broj-glasnika--pdf img {
  margin-left: 5px;
}
.broj-glasnika--e-glasnik {
  display: none;
}
.publikacije--mobile {
  display: none;
}
.active-glasnik-mob {
  display: none;
}
@media screen and (max-width: 1024px) {
  .publikacije {
    padding: 175px 60px 4% 60px;
  }
}
@media screen and (max-width: 960px) {
  .publikacije {
    display: none;
  }
  .publikacije--mobile {
    padding: 175px 50px 4% 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
  }
  .publikacije--top-title {
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    color: #f92525;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .publikacije--top-title:first-child {
    margin-top: 20px;
  }
  .suzi-publikacije--clanak {
    width: 100%;
    padding: 20px 0 10px;
  }
  .suzi-publikacije--clanak-link {
    font-size: 14px;
  }
  .suzi-publikacije--clanak--glasnik {
    flex-direction: column;
  }
  .suzi-publikacije--clanak--glasnik-deo {
    width: 100%;
  }
  .suzi-publikacije--clanak--glasnik-deo1 {
    width: 100%;
  }
  .suzi-publikacije--clanak--glasnik-deo2 {
    width: 100%;
  }
  .broj-glasnika--broj {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .broj-glasnika--pdf {
    width: 90px;
    margin-left: 10px;
  }
  .glasnik-text {
    display: none;
  }
  .active-glasnik-mob {
    display: block!important;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
  }
}
@media screen and (max-width: 360px) {
  .publikacije--mobile {
    padding: 110px 20px 4% 20px;
  }
  .broj-glasnika {
    flex-wrap: wrap;
    height: 90px;
    justify-content: flex-start;
  }
  .broj-glasnika--broj {
    flex: none;
    width: 100%;
  }
  .suzi-publikacije--clanak--glasnik-deo1 img {
    max-height: 200px;
  }
}
.kontakt {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 175px 90px 4% 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.kontakt--left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.kontakt--left--info {
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  color: #000000;
  padding: 20px 0;
}
.kontakt--left--info-2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  color: #000000;
  display: flex;
}
.kontakt--right {
  width: 65%;
}
@media only screen and (max-width: 1024px) {
  .kontakt {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .kontakt {
    padding: 175px 50px 4% 50px;
    flex-direction: column;
  }
  .kontakt--left {
    width: 100%;
  }
  .kontakt--left--info {
    font-size: 11px;
  }
  .kontakt--right {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 360px) {
  .kontakt {
    padding: 110px 20px 4% 20px;
  }
  .kontakt--right {
    height: 300px;
  }
}
.prijatelji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 175px 90px 4% 90px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.prijatelji-boks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.prijatelji-boks--1 {
  height: 150px;
  width: 50%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.prijatelji-boks--1--logo {
  height: 80px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.prijatelji-boks--1--logo img {
  max-width: 100%;
  max-height: 100%;
}
.prijatelji-boks--1--adresa {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.71;
  color: #000000;
  margin-top: 20px;
}
.prijatelji-boks--1--link {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  color: #f92525;
}
@media screen and (max-width: 1024px) {
  .prijatelji {
    padding: 175px 60px 4% 60px;
  }
}
@media screen and (max-width: 960px) {
  .prijatelji {
    padding: 175px 50px 4% 50px;
  }
  .prijatelji-boks {
    width: 100%;
  }
  .prijatelji-boks--1 {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .prijatelji-boks--1 {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .prijatelji {
    padding: 110px 20px 4% 20px;
  }
}
@media only screen and (max-width: 1120px) {
  .head-responsive {
    padding: 0 40px 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .tt-input {
    height: 40px;
    width: 100%;
  }
  .responsive-m {
    justify-content: flex-end;
  }
  .head-responsive-bar--meni-d {
    display: none;
  }
  .head-responsive-bar-nav {
    display: block;
  }
  .head-responsive-bar-nav:hover {
    cursor: pointer;
  }
  .head-responsive--pretraga {
    display: none;
  }
  .head-responsive--icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 10px;
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height 0.1s linear;
  }
  .head-responsive--meni {
    display: none;
  }
  .head-responsive--meni-title {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 5px;
  }
  .active-meni {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .active-pretraga {
    display: flex!important;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #d0d0d0;
  }
  .head-transition {
    max-height: 180px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 960px) {
  .head-responsive {
    padding: 0 50px;
  }
  .logo-size {
    height: 50px;
  }
  .footer--icons {
    width: 18%;
  }
}
@media only screen and (max-width: 640px) {
  .footer {
    display: none;
  }
  .footer-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    background-color: #ff0000;
    flex-wrap: wrap;
    padding: 0 4%;
  }
  .footer-mob-text {
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .footer-mob-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0 5%;
  }
  .footer-mob-icon img {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .head-responsive {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 400px) {
  .logo-size {
    height: 40px;
  }
}
@media only screen and (max-width: 360px) {
  .logo-size {
    height: 33px;
  }
}
