.titles {
  font-size: 24px;
  font-weight: 300;
  color: #f92525;
  line-height: 28px;
}
.titles-2 {
  font-size: 24px;
  line-height: 28px;
  color: #202124;
}
.sub_titles {
  width: 95%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.sub_titles-lite {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: #000000;
}
.plain-text {
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.plain-text-red {
  font-size: 18px;
  line-height: 22px;
  color: #ff0000;
}
.dates {
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.slika {
  max-height: 300px;
  max-width: 250px;
}
.slika-small {
  max-height: 330px;
  height: auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .slika-small {
    max-height: 300px;
  }
  .plain-text {
    font-size: 11px;
  }
  .plain-text-red {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .slika-small {
    max-height: 200px;
  }
}
.vesti {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 175px 90px 4% 90px;
}
.vesti--suzi {
  width: 30%;
}
.vesti--suzi-naslov {
  width: 100%;
  height: 35px;
}
.vesti--suzi-vest {
  width: 100%;
  padding: 20px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--suzi-vest--link {
  width: 100%;
}
.vesti--svet {
  width: 30%;
}
.vesti--svet-naslov {
  width: 100%;
  height: 35px;
}
.vesti--svet-vest {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 0px 3px 0px;
}
.vesti--svet-vest--naslov {
  width: 100%;
}
.vesti--svet-vest--datum {
  padding: 6px 0px;
}
.vesti--prikazi {
  width: 30%;
}
.vesti--prikazi-naslov {
  width: 100%;
  height: 35px;
}
.vesti--prikazi-vest {
  padding: 25px 0px 5px 0px;
  border-bottom: 1px solid #d0d0d0;
}
.vesti--prikazi-vest--naslov {
  width: 100%;
}
.vesti--prikazi-vest--datum {
  padding: 6px 0px;
}
.vest {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 175px 90px 4% 90px;
}
.vest--title {
  width: 65%;
  height: 35px;
}
.vest--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 2%;
}
.vest--container-title {
  width: 100%;
}
.vest--container-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding: 2% 2% 2% 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vest--container-imgs img {
  max-height: 400px;
  max-width: 100%;
}
.vest--container-text {
  width: 100%;
  padding: 2% 0px;
}
.vest--container-text p {
  margin-top: 22px;
}
.vest--container-text p a {
  text-decoration-line: underline;
  color: #202124;
}
@media only screen and (max-width: 1024px) {
  .vesti {
    padding: 175px 60px 4% 60px;
  }
  .vest {
    padding: 175px 60px 4% 60px;
  }
}
@media only screen and (max-width: 960px) {
  .vesti {
    padding: 175px 50px 4% 50px;
    flex-direction: column;
  }
  .vesti--suzi {
    width: 100%;
  }
  .vesti--suzi-naslov {
    border-bottom: none;
    padding-top: 20px;
  }
  .vesti--suzi-vest {
    padding: 20px 0 20px 0;
  }
  .vesti--suzi-vest:last-child {
    border-bottom: none;
  }
  .vesti--svet,
  .vesti--prikazi {
    width: 100%;
  }
  .vesti--svet-naslov,
  .vesti--prikazi-naslov {
    border-bottom: none;
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;
  }
  .vesti--svet-vest,
  .vesti--prikazi-vest {
    padding: 20px 0 20px 0;
  }
  .vesti--svet-vest:last-child,
  .vesti--prikazi-vest:last-child {
    border-bottom: none;
  }
  .vest {
    padding: 175px 50px 4% 50px;
  }
  .vest--title {
    width: 100%;
  }
  .vest--container {
    width: 100%;
  }
  .vest--container-title {
    font-size: 14px;
  }
  .vest--container-imgs {
    margin: auto;
    float: none;
  }
  .vest--container-text {
    font-size: 11px;
  }
}
@media only screen and (max-width: 360px) {
  .vesti {
    padding: 110px 20px 4% 20px;
  }
  .vest {
    padding: 110px 20px 4% 20px;
  }
  .vest--container-imgs {
    height: 250px;
  }
}
