<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{_BASE}}">
  <title>Srpsko udruženje za zemljotresno inženjerstvo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>
  <meta name="keywords" content="SUZI, SAEE, SUZI SAEE, SUZI-SAEE, SUZI_SAEE">
  <link rel="icon" href="images/suzi.png">
<link href="lightbox2-master/src/css/lightbox.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <div class="head-responsive">
        <div class="head-responsive-bar">
            <a style="margin-top: 25px; margin-bottom: 15px;" class="head--logo" href="index"><img class="logo-size" src="images/suzi logo-2.svg" alt="logo"></a>
            <div style="display: flex; flex: 1;" class="responsive-m">
                <div class="head-responsive-bar--meni-d">

                    <a href="index"         class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='index' %} active {%endif%}">Početna</a>
                    <a href="o_nama"         class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='o_nama' %} active {%endif%}">O nama</a>
                    <a href="akcije"        class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='akcije' %} active {%endif%}">Akcije</a>
                    <a href="vesti"         class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='vesti' %} active {%endif%}">Vesti</a>
                    <a href="komisije"      class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='komisije' %} active {%endif%}">Komisije</a>
                    <a href="publikacije"   class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='publikacije' %} active {%endif%}">Publikacije</a>
                    <a href="clanovi"       class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='clanovi' %} active {%endif%}">Članovi</a>
                    <a href="kontakt"       class="head-responsive-bar--meni-d-title {%if (_GET['twig_file_name'] | lower)=='kontakt' %} active {%endif%}">Kontakt</a>

                </div>
                <div id="js-search" style="margin-top: 5px; display: flex; align-items: center;" >
                    <img class="head-responsive-bar-pre" src="images/pretraga.svg"/>
                </div>
                <div id="navbar" style="margin-left: 30px; display: flex; align-items: center;">
                    <img class="head-responsive-bar-nav" src="images/menu-icon.svg"/>
                </div>
            </div>
        </div>
        <div id="js-pretraga" class="head-responsive--pretraga">
            <input style="border: 0px solid;" id="typeahead_m" type="text" placeholder="Pretraga" class="tt-input">
        </div>
        <div id="head" class="head-responsive--icon">
            
            <div class="head-responsive--meni" id="js-meni">
                <a href="index"         class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='index' %} active-m {%endif%}">Početna</a>
                <a href="o_nama"         class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='o_nama' %} active-m {%endif%}">O nama</a>
                <a href="akcije"        class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='akcije' %} active-m {%endif%}">Akcije</a>
                <a href="vesti"         class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='vesti' %} active-m {%endif%}">Vesti</a>
                <a href="komisije"      class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='komisije' %} active-m {%endif%}">Komisije</a>
                <a href="publikacije"   class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='publikacije' %} active-m {%endif%}">Publikacije</a>
                <a href="clanovi"       class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='clanovi' %} active-m {%endif%}">Članovi</a>
                <a href="kontakt"       class="head-responsive--meni-title {%if (_GET['twig_file_name'] | lower)=='kontakt' %} active-m {%endif%}">Kontakt</a>
                
            </div>
        </div>
    </div>

{% block content %}{% endblock %}

    <div class="footer">
        <div class="footer--1">
            <div class="footer--1--suzi">&copy; 2018 SUZI</div>
            <div class="footer--1--suzi"><a href="sponzori">Donatori SUZI</a></div>
            <div class="footer--1--suzi"><a href="prijatelji">Prijatelji SUZI</a></div>
            <div class="footer--1--suzi" style="border-right: none;"><a href="clanovi">Postanite član SUZI</a></div>
        </div>
        <div class="footer--icons">
            <a href="https://www.youtube.com/channel/UC96uRzOEluzV8owC8cMISVg/featured" target="_blank"><img src="images/youtube.svg"></a>
            <a href="https://twitter.com/SUZI_SAEE" target="_blank"><img src="images/Twitter.svg"></a>
            <a href="https://www.linkedin.com/company/suzi-saee/" target="_blank"><img src="images/Linkedin.svg"></a>
        </div> 
    </div>
    <div class="footer-mob">
        
            <div class="footer-mob-text"><a href="sponzori">Donatori SUZI</a></div>
            <div class="footer-mob-text"><a href="prijatelji">Prijatelji SUZI</a></div>
            <div class="footer-mob-text"><a href="clanovi">Postanite član SUZI</a></div>
            <div class="footer-mob-icon">
                <a href="https://www.youtube.com/channel/UC96uRzOEluzV8owC8cMISVg/featured" target="_blank"><img style="height: 16px;" src="images/youtube.svg"></a>
                <a href="https://twitter.com/SUZI_SAEE" target="_blank"><img style="height: 16px;" src="images/Twitter.svg"></a>
                <a href="https://www.linkedin.com/company/suzi-saee/" target="_blank"><img style="height: 16px;" src="images/Linkedin.svg"></a>
            </div>
            <div style="border-bottom: none; width: 100%;" class="footer-mob-text">&copy; 2018 SUZI</div>
    </div>

<script>
    let meni = document.getElementById('js-meni');
    let pretraga = document.getElementById('js-pretraga');
    let navBar = document.getElementById('navbar');
    let search = document.getElementById('js-search');
    let head = document.getElementById('head');

    navBar.addEventListener('click', function(){
        if (meni.classList.contains('active-meni')) {
            meni.classList.remove('active-meni');
        }
        else {
            meni.classList.add('active-meni');
            pretraga.classList.remove('active-pretraga');
            head.classList.add('head-transition');
        }   
    });
    search.addEventListener('click', function(){
        if (pretraga.classList.contains('active-pretraga')) {
            pretraga.classList.remove('active-pretraga');
        }
        else {
            pretraga.classList.add('active-pretraga');
            meni.classList.remove('active-meni');
        }
        prefetchSearch()
    });

</script>

   <script src="js/jquery-3.3.1.min.js"></script> 
   <script src="js/typeahead.bundle.min.js"></script> 

    <script src="lightbox2-master/src/js/lightbox.js"></script>


   <script>
        var serachArray = [];
        var substringMatcher = function() {
            return function findMatches(q, cb) {
                q = q.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, '\\$&');
                var matches, substringRegex;
                matches = [];
                substrRegex = new RegExp(q, 'i');
                $.each(serachArray, function(i, item) {
                    if (substrRegex.test(item.Naslov) || substrRegex.test(item.Text)) {
                        matches.push(item);
                    }
                });
                cb(matches);
            };
        };
        var searchInit=false;
        function prefetchSearch(){
            $('#typeahead_m')[0].focus();
            if (searchInit) return;
            searchInit=true;
            $.getJSON("cms/api.php/?query=_search", function(result){
                serachArray = result        
            });
        }

        $('#typeahead_m').typeahead({highlight:true}, {
            name: 'countries',
            display: 'Naslov',
            source: substringMatcher(),
            limit: 10
        }); 

        $('#typeahead_m')[0].focus();
        $('#typeahead_m').bind('typeahead:select', function(ev, suggestion) {
            document.location = suggestion.href+'/'+suggestion.Slug
        });   




        var lastScrollTop = 0;
        $(window).scroll(function(event){
          var st = $(this).scrollTop();
          if (st<160) { $( ".head-responsive" ).css( "top", "0" ); return }
          if (st > lastScrollTop){
            // downscroll code
            $( ".head-responsive" ).css( "top", "-300px" );
          } else {
            // upscroll code
            $( ".head-responsive" ).css( "top", "0" );
          }
          lastScrollTop = st;
        });
   </script>


</body>
</html>
